# Do not accidentally commit any credentials used in the examples
access_token.txt

# Do not commit downloaded audio
audios/

# Do also not commit generated images
images/

# Do not commit model predictions
dataset.json
sd_dataset.json
sd_dataset_scored.json